/**** global ****/

.rt {
	float: right;
}

.lt {
	float: left;
}
.tct{
	text-align: center;
}
.trt{
	text-align: right;
}
.tlt{
	text-align: left;
}
.red-btn{
	margin: 20px auto 10px auto;
	height: 50px;
	line-height: 20px;
	width: 200px;
	background: #ae2d36;
	box-shadow: 0px 3px 10px #ca888c;
	border-radius: 25px;
}
.top{
	position: relative;
	z-index: 1000;
}
.ipt{
	border: none !important;
	padding: 0 !important;
	margin-bottom: 0 !important;
	height: auto !important;
	text-align: right;
}
.textipt{
	border: none !important;
	padding: 0 !important;
}
.border1px{
	border: 1px solid #DDDDDD;
}
.no-padding{
	padding: 0 !important;
}
header.mui-bar {
	background: url(../img/header.png);
	background-size: cover;
	background-position-y: bottom;
}
header.mui-bar.vip{
	background: url(../img/index/header.png);
	background-size: cover;
	background-position-y: center;
	box-shadow: none;
}
header.mui-bar * {
	color: #FFEAAA !important;
}
.mui-bar{
	box-shadow: none;
	-webkit-box-shadow: none;
}
.ui-select {
	position: relative;
	width: 80%;
	left: 10%;
	height: 40px;
	border: 1px solid #DDDDDD;
}

.listinfo {
	float: right;
	color: #BBBBBB;
	padding-right: 25px;
}

.ui-select select {
	border: none;
	outline: none;
	width: 100%;
	height: 37px;
	line-height: 40px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	padding: 0 0 0 30px !important;
}

.ui-select select option {
	min-height: 2em;
}

.ui-select:after {
	content: "";
	width: 20px;
	height: 10px;
	background: url(../img/downarrow.png) no-repeat center;
	position: absolute;
	right: 20px;
	top: 37%;
	pointer-events: none;
}

.empty{
	height: 45px;
	width: 100%;
	display: block;
}
.mui-input-row.mui-search.mysearch.mui-active:before{
	top:25px;
}
/**** index ****/

.index .bottom-bar {
	background: rgba(250, 250, 250, 0.85);
	padding-top: 5px;
}

.index .bottom-bar a {
	text-align: center;
}

.index .bottom-bar span {
	color: #333333 !important;
	font-size: 0.8em;
}

.index .bottom-bar img {
	width: 40%;
	display: block;
	margin: 0 auto;
}

.index .bottom3 {
	overflow: visible !important;
}

.index .bottom3 img {
	width: 80%;
	margin-top: -30px;
}

.index .nav-bar {
	position: relative;
	bottom: auto;
	background: white;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #EFEFEF;
}

.index .nav-bar span {
	color: #333333 !important;
	font-size: 0.8em;
}

.index .nav-bar img {
	width: 40%;
	display: block;
	margin: 0 auto;
}

.index .nav-bar .mui-tab-item.icon1:after {
	position: absolute;
	left: 25%;
	top: 1em;
	height: calc(100% - 2em);
	content: '';
	width: 0;
	border-right: solid #DDDDDD 1px;
}

.index .nav-bar .mui-tab-item.icon2:after {
	position: absolute;
	left: 50%;
	top: 1em;
	height: calc(100% - 2em);
	content: '';
	width: 0;
	border-right: solid #DDDDDD 1px;
}

.index .nav-bar .mui-tab-item.icon3:after {
	position: absolute;
	left: 75%;
	top: 1em;
	height: calc(100% - 2em);
	content: '';
	width: 0;
	border-right: solid #DDDDDD 1px;
}

.index .mynews.mui-table-view .mui-media-object {
	height: 100px;
	max-width: 120px;
}

.index .mynews.mui-table-view .mui-media-body .hd {
	color: #333333;
}

.index .mynews.mui-table-view .time {
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: 0.8em;
	color: #CCCCCC;
}

/**** newsdetail ****/

.newsdetail .newsimg img{
	width: 100%;
	margin: 0;
}
.newsdetail .title{
	line-height: 1.5em;
}
.newsdetail .time{
	font-size: 0.7em;
	color: #AAAAAA;
	margin: 10px 0;
	padding-left: 8px;
	border-left: 5px solid #d01421;
}
.newsdetail .content{
	text-indent: 2em;
	font-size: 0.9em;
	color: #666666;
}
.newsdetail .mui-bar .mui-active{
	color: #d01421;
}

/**** redshop ****/
.redshop .banner img{
	width: 100%;
}
.redshop .part{
	background: #FFFFFF;
	margin-bottom: 10px;
	margin-top: 10px;
}
.redshop .part .ti{
	padding: 10px 10px 0px 10px;
	color: #666;
}
.redshop .part .redblock{
	width: 5px;
	height: 20px;
	float: left;
	background: #d01421;
	margin-right: 5px;
}
.redshop .mui-table-view:before{
	background: none;
}
.redshop .avatar{
	width: 60px;
	height: 60px;
	float: left;
	border-radius: 30px;
	overflow: hidden;
	margin: 10px;
}
.redshop .avatar img{
	width: 100%;
	z-index: 1000;
}
.history_c{
	height: 180px;
	overflow: hidden;
	margin-bottom: 5px;
}
.history_c img{
	width: 100%;
	height: 100%;
}
.history_t,.history_time,.history_text{
	text-align: center;
	color: #FFFFFF;
	font-size: 0.8em;
	position: relative;
	z-index: 1000;
	top:-130px;
}
.history_time,.history_text{
	font-size: 0.7em;
}

/**** servicestop ****/
.mysearch{
	margin: 10px;
	margin-bottom: 0;
	height: 34px;
}
.mysearch input{
	margin-bottom: 0 !important;
}
.mui-icon-mic{
	position: relative;
	z-index: 100;
	top: -30px;
}
.discountlist img{
	width: 100%;
}
.discountlist .mui-table-view-cell:after{
	background: none !important;
}
.consult .banner img{
	width: 100%;
}

/**** livecircle ****/
.livecircle .mui-bar{
	height: 150px;
	padding: 0;
}
.wish .mui-media-body{
	white-space: normal;
}
.wish .person,.wish .tt{
	line-height: 1.5em;
	font-size: 0.8em;
	color: #bbb;
}
.wish .c{
	margin-top: 5px;
}
.wish .imgs{
	display: table;
}
.wish .imgs img{
	width: 30%;
	float: left;
	margin-left: 5px;
}
.wish .doneflag{
	background-image: url(../img/livecircle/wish/done.png);
	background-size:contain;
	background-repeat: no-repeat;
	position: absolute;
	z-index: 100;
	width: 80px;
	height: 60px;
	right: 10px;
	margin-top: 10px;
}
.wish .stepimg{
	float: left;
	width: 60px;
}
.building .ti.join{
	color: #AE2D36;
}
.building .ti.top{
	padding-bottom: 10px;
	width: 70%;
}
.building .ti span{
	font-size: 0.8em;
	color: #bbb;
	border-radius: 1em;
	border: 1px solid #bbb;
	padding: 0 3px;
	margin-left: 5px;
}
.building .avatarlist{
	overflow: auto;
	padding: 0 10px;
	border-top: 1px solid #ddd;
}
.building .mysearch input{
    font-size: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 34px;
    text-align: center;
    border: 0;
    border-radius: 6px;
    background-color: rgba(0,0,0,.1);
}
.building .usercomments .avatar{
	margin: 0;
	margin-right: 10px;
	padding: 0;
}
.building .usercomments .time{
	border: none;
	margin: 0;padding: 0;
}
.building .usercomments .mui-ellipsis{
	white-space: normal;
}
.shine .usercomments .perinfo{
	height: 60px;
}
.shine .usercomments .perinfo .hd{
	padding-top: 10px;
	color: #e25c3e;
}
.shine .usercomments .c{
	padding: 10px 0;
	color: #666666;
	font-size: 0.8em;
}
.shine .usercomments .items{
	border-top: 1px solid #ddd;
	color: #aaa;
	font-size: 0.7em;
	padding-top: 10px;
}
.shine .usercomments .items .item{
	float: left;
	width: 33%;
}
.shine .usercomments .items .item .mui-icon,.shine .usercomments .items .item .mui-icon-extra{
	font-size: 1.5em !important;
}
.shine .pos{
	padding-bottom: 10px;
	color: #0190eb;
	font-size: 0.7em;
}
.shine .pos .mui-icon{
	font-size: 1em !important;
	color: #0190eb;
}
.shine .pos1{
	padding-bottom: 10px;
	color: #aaa;
	font-size: 0.7em;
}
.shine .pos1 .mui-icon{
	font-size: 1em !important;
	color: #aaa;
}
.shine .imgs{
	display: table;
	padding-bottom: 10px;
}
.shine .imgs img {
    width: 30%;
    float: left;
    margin-left: 5px;
    margin-bottom: 5px;
}
.date .types{
	padding-top: 10px;
}
.date .types button{
	padding: 6px 20px;
	margin-right: 10px;
	margin-bottom: 10px;
}

/**** personal ****/
.personal .persona .blur {	
	position: absolute;
	top: 0;
	width: 100%;
    filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
    -webkit-filter: blur(10px); /* Chrome, Opera */
       -moz-filter: blur(10px);
        -ms-filter: blur(10px);    
            filter: blur(10px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
}
.personal .persona p{
	position: relative;
	color: white;
}
.personal .persona .avatar{
	position: relative;
	z-index: 100;
	width: 80px;
	height: 80px;
	border-radius: 40px;
}
.personal .persona .edit{
	background: black;
	border-radius: 10px;
	color: white;
	position:relative;
	z-index: 101;
	left: 30px;
	top:90px;
}
.personal .personlist img{
	width: 20px;
	margin-right: 5px;
	float: left;
}
.personal .personlist p{
	font-size: 16px;
	float: left;
	color: #666666;
}
.personal .myact .actstate{
	margin-bottom: 20px;
	padding-left: 10px;
}
.personal .collect .part{
	background: #FFFFFF;
    margin-bottom: 10px;
    margin-top: 10px;
}
.personal .collect .thumbnail{
	width: 60px;
    height: 60px;
    float: left;
}
.personal .collect .thumbnail img{
	width: 100%;
}
.personal .collect .c{
	height: 60px;
	overflow: hidden;
	padding-left: 10px;
	color: #666666;
	font-size: 0.8em;
}
.personal .collect .ori,.personal .collect .time{
	float: left;
	font-size: 0.6em;
	color: #BBBBBB;
	width: 80px;
	padding-top: 5px;
}
.personal .myshine .date{
	width: 20%;
	float: left;
}
.personal .myshine .date h2,.personal .myshine .date span{
	float: left;
}
.personal .myshine .date span{
	margin-top: 15px;
	padding-left: 2px;
	font-size: 12px;
	font-weight: bold;
}
.personal .myshine .imgs{
	width: 25%;
	float: left;
}
.personal .myshine .imgs img{
	width: 100%;
}
.personal .myshine .c{
	width: 55%;
	float: left;
	font-size: 14px;
	color: #888888;
	padding-left: 5px;
}
.personal .myshine .picnum{
	font-size: 12px;
	color: #888888;
	position: absolute;
	bottom: 10px;
}
.personal .myshine .mui-table-view:before,.personal .myshine .mui-table-view:after{
	background: none;
}
.personal .myshine a *{
	color: initial;
}
.personal .myshinedtl img{
	width: 100%; 
	height: 100%; 
	objec-fit: cover;
}
.personal .myshinedtl .mymsg{
	position: absolute;
	bottom: 0;
	height: 100px;
	width: 100%;
	z-index: 100;
	background: rgba(0,0,0,0.4);
	color: white;
	padding: 10px;
}
.personal .myshinedtl .mymsg .bref{
	font-size: 0.9em;
}
.personal .myshinedtl .mymsg .items{
	position: absolute;
	bottom: 20px;
	font-size: 0.9em;
	width: 100%;
	padding-right: 10px;
}
.personal .myshinedtl .mymsg .items .item{
	padding-right: 10px;
}
.personal .myshinedtl .mymsg .items .item span{
	font-size: 0.9em;
	padding-right: 3px;
}
.personal .mybenefit .part{
	overflow: auto;
	margin: 10px;
}
.personal .mybenefit .part .tic{
	width: 40%;
	float: left;
	position: relative;
}
.personal .mybenefit .part .tic h2{
	color: white;
	position: absolute;
	top: 35px;
	left: 30px;
}
.personal .mybenefit .part .tic img{
	width: 100%;
	display:block;
}
.personal .mybenefit .part .ticinfo{
	width: 60%;
	float: left;
	padding: 10px;
	height: 100px;
	position: relative;
}
.personal .mybenefit .part .ticinfo p{
	color: #666666;
}
.personal .mybenefit .part .ticinfo .date{
	color: #BBBBBB;
	font-size: 0.8em;
	position: absolute;
	bottom: 5px;
	width: 90%;
}
.personal .mybenefit .part .ticinfo button{
	float: right;
	border: 1px solid #d01421;
	color: #D01421;
	padding: 3px 8px;
	border-radius: 10px;
	font-size: 0.8em;
}
.personal .mybenefit .part .ticinfo .date img{
	height: 100px;
}
.personal.whiteback,.personal .whiteback{
	background: white;
}
.personal .point{
	position: relative;
}
.personal .point img{
	width: 100%;
}
.personal .point .circle{
	height: 120px;
	width: 120px;
	border: 2px solid #D01421;
	border-radius: 60px;
	position: absolute;
	top: calc(50% - 60px);
	left: calc(50% - 60px);
	text-align: center;
	box-shadow: 0px 3px 10px #ca888c;
}
.personal .point .circle h1{
	margin-top: 40px;
	color: #D01421;
}
.personal .pointdtl{
	background: white;
}
.personal .pointdtl .ques{
	float: right;
	color: blue;
}
.personal .pointdtl .title{
	margin-bottom: 10px;
}
.personal .mui-table-view:before,.personal .mui-table-view:after{
	background: none;
}
.personal .wish{
	border: 1px dashed #BBBBBB;
}
.personal .tic_s{
	padding: 25px;
	text-align: left;
}
.personal .rank{
	background: #efeff4;
}
.personal .rank .circle,.personal .rank .circle .avatar{
	width: 60px;
	height: 60px;
	position: absolute;
	top: calc(50% - 40px);
	left: calc(50% - 30px);
	box-shadow: none;
	border-radius: 30px;
	z-index: 110;
	border: none;
}
.personal .rank .circle .avatar{
	z-index: 100;
	overflow: hidden;
	border: 2px solid orange;
}
.personal .rank .circle .info{
	position: absolute;
	top: 60px;
	left: 10px;
}
.personal .rank .circle .name{
	margin: 0;
}
.personal .rank .circle .pt{
	color: orange;
	font-size: 0.7em;
}
.personal .rank .circle .crown{
	position: absolute;
	top: -35px;
	left: -5px;
	width: 30px;
}
.personal .rank .circle.silver{
	left: calc(20% - 30px);
	top: calc(50% - 20px);
	width: 50px;
	height: 50px;
}
.personal .rank .circle.bronze{
	left: calc(80% - 30px);
	top: calc(50% - 20px);
	width: 50px;
	height: 50px;
}
.personal .rank .circle.silver .avatar,.personal .rank .circle.bronze .avatar{
	width: 50px;
	height: 50px;
	top: calc(50% - 30px);
	left: calc(50% - 20px);
	border: 2px solid #bbb;
}
.personal .rank .circle.silver .crown,
.personal .rank .circle.bronze .crown{
	top: -25px;
}
.personal .rank .circle.silver .info,
.personal .rank .circle.bronze .info{
	top: 50px;
}